html,body,head,div,p,a{margin: 0;padding: 0;}
.body-bg{background-color: #dff1f4;}
.main{width: 700px;overflow: hidden;height: 542px;margin: 20px auto;}
.title{font-size: 14px;font-weight: bold;margin: 254px 0 0 218px;color: #d3d3d3;}
.btn{
	display:block;
	width: 145px;
	height: 45px;
	font-size: 14px;
	margin: 95px 0 0 270px;
	line-height: 43px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	text-decoration: none;}