{% extends "base.html" %}
{% block main %}
    <div class="clear"></div>
    <div class="wt1002 fwmain">
        <div class="fwmain_nright r mTop10">
            <div class="label">
                <div class="label_head">
                    <div class="label_title">关于我们</div>
                </div>
                <div class="about_con">
                    <p>我们隶属不同学院多个专业，有不同专业知识背景，具有一定的管理学，市场营销以及计算机等方面的基础知识。我们是有责任心有上进心，有毅力有决心，是具有创新意识的朝气蓬勃的大学生。因为公益，让我们聚在了一起，因为未来，让我们携手同行。我相信，在我们的努力下，未来，将会更加美好！</p>
                </div>
            </div>
        </div>
        <div class="fwmain_nleft l mTop10">
            <div class="label_head mTop10">
                <div class="label_title">联系我们</div>
            </div>
            <div class="label_contents">
                <ul class="label_pad mTop10">
                    <div>地 址：XX市XX路XX号10楼</div>
                    <div>电 话：000-000000</div>
                    <div>传 真：000-000000</div>
                    <div>邮 箱：123456@XX.com</div>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
{% endblock %}