{% extends 'base.html' %}
{% block main %}
    <div class="clear"></div>
    <div class="wt1002 fwmain">
        <div class="fwmain_nright r mTop10">
            <div class="label">
                <div class="label_head">
                    <div class="label_title">活动内容</div>
                </div>
                <div class="about_con">
                    <ul class="label_pad mTop10">
                        <div>主&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;题：{{ activity.title }}</div>
                        <div>发&nbsp;&nbsp;起&nbsp;&nbsp;者：{{ activity.sponsor }}</div>
                        <div>开始时间：{{ activity.start | date:"Y-m-d" }}</div>
                        <div>结束时间：{{ activity.end | date:"Y-m-d" }}</div>
                        <div>活动地址：{{ activity.address }}</div>
                        <div>主要内容：</div>
                        <div class="news_detail_cont"> {{ activity.text }}</div>
                    </ul>
                </div>
            </div>
        </div>
        <div class="fwmain_nleft l mTop10">
            <div class="label_head">
                <div class="label_title">最新发布</div>
            </div>
            <div class="label_contents">
                {% for item in new %}
                    <h1><a href="/activity/{{ item.id }}/">{{ item.title }}</a></h1>
                {% endfor %}
            </div>
            <div class="label_head mTop10">
                <div class="label_title">最多关注</div>
            </div>
            <div class="label_contents">
                {% for item in hot %}
                    <h1><a href="/activity/{{ item.id }}/">{{ item.title }}</a></h1>
                {% endfor %}
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
{% endblock %}