{% extends 'base.html' %}
{% block main %}
    <div class="clear"></div>
    <div class="wt1002 fwmain">
        <div class="fwmain_nright r mTop10">
            <div class="label">
                <div class="label_head">
                    <div class="label_title">详情</div>
                </div>
                <div class="about_con">
                    <ul class="label_pad mTop10">
                        <div>主&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;题：{{ donate.title }}</div>
                        <div>捐助类型：{{ donate.type.name }}</div>
                        <div>时&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;间：{{ donate.time | date:"Y-m-d" }}</div>
                        <div>主要内容：</div>
                        <div class="news_detail_cont"> {{ donate.text }}</div>
                    </ul>
                </div>
            </div>
        </div>
        <div class="fwmain_nleft l mTop10">
            <div class="label_head">
                <div class="label_title">最新发布</div>
            </div>
            <div class="label_contents">
                {% for item in new %}
                    <h1><a href="/donate/{{ item.id }}/">{{ item.title }}</a></h1>
                {% endfor %}
            </div>
            <div class="label_head mTop10">
                <div class="label_title">最多关注</div>
            </div>
            <div class="label_contents">
                {% for item in hot %}
                    <h1><a href="/donate/{{ item.id }}/">{{ item.title }}</a></h1>
                {% endfor %}
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
{% endblock %}