<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
    <div>主&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;题：{{ activity.title }}</div>
    <div>发&nbsp;&nbsp;起&nbsp;&nbsp;者：{{ activity.sponsor }}</div>
    <div>开始时间：{{ activity.start | date:"Y-m-d" }}</div>
    <div>结束时间：{{ activity.end | date:"Y-m-d" }}</div>
    <div>活动地址：{{ activity.address }}</div>
    <div>主要内容：</div>
    <div class="news_detail_cont">{{ activity.text | safe }}</div>
</body>
</html>